#about {
  margin-top: 5rem;
  margin-bottom: 15rem;

  & h3 {
    font-size: 3.3rem;
    font-weight: 900; 
    text-align: center;
  }

  .creator-img {
    height: 45rem;
    width: 55rem;    
    margin-top: 9rem;
    margin-left: 6.5rem;

    & + figcaption {
      display: none;

      @media (max-width: 900px) {
        display: block;
        font-size: 3rem;
        margin-top: 0.5rem;
        margin-left: 6.5rem; 
      }
    }
  }

  & p {
    font-size: 2.5rem;
    margin: 0 auto;
    width: 55rem;

    @media (max-width: 900px) {
      opacity: 0;
      transform: translateX(100%);

    }
  }
}
