footer {
  @include head-and-foot;

  & p {
    font-size: 2rem;
  }

  & a {
    font-size: 1.6rem;
    padding-left: 1.8rem;
    margin-bottom: 0.5rem;
  }
}

// so that the page takes up at least the whole viewport, in case the content isn't large enough to cover it by itself.
// also see .body--fill-page under _base.scss
.footer--fill-page {
  position: absolute;
  top: 83%;
  left: 0;
}

.social-media-div {
  display: flex;
  flex-direction: column;
}

#social-media {
  border-bottom: 0.3rem solid black;
  font-weight: 400;
}