// .archive-image {
//   height: 250px;
//   width: 360px;
// }

.container__archive {
  margin-top: 5rem;
  margin-bottom: 5rem;

  &--single {
    // so that a single blog post summary appears more centered
    margin-top: 13rem;
  }
}

.archive-title {
  font-size: 3.5rem;
}

.archive-read-more {
  font-size: 2rem;
}

.column {
  flex-direction: column;
  margin-left: 10rem;

  p {
    font-size: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

.container__pagination {
  font-size: 3.8rem;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  max-width: 124.5rem;
}

span.current {
  font-weight: bold;
}