.section-about {
    margin-top: 5rem;
    margin-bottom: 15rem;

    @include respond(phone) {
        margin-bottom: 10rem;
    }

    &__title {
        font-size: 3.3rem;
        font-weight: 900; 
        text-align: center;
    }

    .portrait-figure {
        @include respond(phone) {
            width: 100%;
            text-align: center;
        }
    }

    &__portrait {
        height: 45rem;
        width: 55rem;
        margin: 3rem;    
        float: left;

        @include respond(phone) {
            width: 41rem;
            height: 33.5rem;
            margin: 3rem;
        }

        &__caption {
            display: none;

            @include respond(phone) {
                display: block;
                font-size: 3rem;
                margin-top: 0.5rem;
                margin-left: 6.5rem; 
            }
        }
    }

    &__bio {
        margin-top: 5rem; 
        width: 100%; //internet explorer

        & p {
            font-size: 2.8rem;
            margin: 0 auto;
            width: 100%; //internet explorer
            text-indent: 4rem;
            line-height: 2;

            & a {
                color: $red;
            }
            
            @include respond(phone) {
                margin-top: 4rem;
                text-indent: 3rem;
                font-size: 3rem;
            }
        }
    }

    .resume-link {
        color: $red;
        font-weight: 600;
        cursor: pointer;
    }
}

.section__latest-projects {
    margin-top: 5rem;
    margin-bottom: 12rem;
  
    &__title {
      font-size: 3.5rem;
      text-align: center;
    }

    &__sub-title {
        text-align: center;
        font-size: 2rem;
        margin-top: 2rem;
    }
  
    &__link {
        @include respond(phone) {
            display: inline-block;
            text-align: center;
        }
    }

    &__screenshot {
      height: 45rem;
      margin-top: 11rem;
      margin-bottom: 8rem;
      width: 55rem;
      transition: all .1s;

      &:not(last-child) {
        margin-right: 3rem;

        @include respond(phone) {
            margin-right: auto;
        }
      }

      @include respond(tab-land) {
        width: 45rem;
        height: 36rem;
      }

      @include respond(tab-port) {
        width: 39rem;
        height: 32rem;
      }

      @include respond(phone) {
        width: 80%;
        height: auto;
        margin: 6rem auto 5rem;
      }

      &__caption {
        display: none;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
      
    &__see-all {
      font-size: 2.5rem;
      text-align: center;

      &:hover {
        color: $blue;
      }
    }
}

.section-contact {
    margin-top: 5rem;
    margin-bottom: 15rem;

    &__title {
        font-size: 3.3rem;
        text-align: center;
    }
}

.container--home-page {
    @include respond(phone) {
        display: flex;
        flex-direction: column;
    }
}