.project {
  margin-top: 5rem;
  margin-bottom: 5rem;

  @include respond(phone) {
    flex-direction: column;
  }
  
  &__image {
    height: 25rem;
    width: 36rem;

    &--mobile {
      @include respond(phone) {
        width: 100%;
      }
    }

    @include respond(phone) {
      width: 100%;
      height: auto;
    }
  }

  &--single {
    // so that a single blog post summary appears more centered
    margin-top: 13rem;
  }

  &__title {
    font-size: 3.5rem;

    @include respond(phone) {
      text-align: center;
      font-size: 6.5rem;
    }
  }

  &__details {
    flex-direction: column;
    margin-left: 10rem;

    @include respond(phone) {
      margin: 0;
      width: 100%;
    }

    &--summary {
      font-size: 2.5rem;
      margin-top: 3rem;
      margin-bottom: 3rem;

      @include respond(phone) {
        font-size: 4.5rem;
      }
    }

    &__read-more {
      background-color: $red;
      border-radius: 100px;
      text-align: center;
      font-size: 1.5rem;
      padding: 1.5rem;

      @include respond(phone) {
        display: block;
        font-size: 3.5rem;
        padding: 4rem;
        margin: 0 auto;
        width: 30%;
      }
     
    }
  }
}
  
.container__pagination {
  font-size: 3.8rem;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  max-width: 124.5rem;

  @include respond(tab-land) {
    max-width: 100rem;
  }

  @include respond(tab-port) {
    max-width: 88rem;
  }
}

span.current {
  font-weight: bold;
}