.single__title {
  margin-top: 5rem;
  margin-bottom: 10rem;
  font-size: 3.5rem;
  font-weight: 900;
  text-align: center;

  @include respond(phone) {
    font-size: 5rem;
  }
}

.single__screenshot {
  margin-bottom: 12.5rem;
  height: 45rem;
  width: 55rem;
  border: 0.1rem solid black;
  border-radius: 1rem;
}
  
.single__container {
  align-items: center;
  display: flex;
  flex-direction: column;  
  margin: 0 auto 5rem;
  height: 100%;
  max-width: 124.5rem;

  &__live, &__git, a {
    font-size: 3rem;    
  }

  .links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 2rem;

    // &:hover {
    //   color: $blue;
    // }

    &--single {
      justify-content: center;
    }
    
    @include respond(phone) {
      width: 75%;
    }
  }

  .single {
    justify-content: center;
  }

  .button {
    padding: 2rem;
    border-radius: 100px;
    background-color: $red;

    &:hover {
      color: $blue;
    }
  }

  p {
    width: 100%; // for internet explorer
    padding: 0 5rem;
    font-size: 3rem;
    line-height: 5rem;
    text-indent: 5rem;
  
    &:last-of-type {
      margin-bottom: 10rem;

      @include respond(phone) {
        margin-bottom: 7rem;
      }
    }

  }

  h4:hover {
    color: $blue;
  }
}