.single__title {
  margin-top: 5rem;
  margin-bottom: 10rem;
  font-size: 3.5rem;
  font-weight: 900;
  text-align: center;
}

.single__screenshot {
  margin-bottom: 12.5rem;
  height: 45rem;
  width: 55rem;
}
  
.single__container {
  align-items: center;
  display: flex;
  flex-direction: column;  
  margin: 0 auto 5rem;
  height: 100%;
  max-width: 124.5rem;

  &__live, &__git, a {
    font-size: 2rem;
  }

  &__git {
    margin-bottom: 2rem;
  }

  p {
    font-size: 3rem;
    line-height: 5rem;
    text-indent: 5rem;
  
    &:last-of-type {
      margin-bottom: 10rem;
    }
  }
}