.footer {
  @include head-and-foot;
  font-size: 2rem;

  @include respond(tab-land) {
    font-size: 1.8rem;
  }

  @include respond(phone) {
    font-size: 3.3rem;
    height: 38rem;
  }

  // so that the page takes up at least the whole viewport, in case the content isn't large enough to cover it by itself.
  // also see .body--fill-page under _base.scss
  &--fill-page {
    position: absolute;
    top: 83%;
    left: 0;
  }

  &__tag-line {
    margin: 0 auto;
  }
}