.footer {
  background-color: $red;
  height: 22rem;
  width: 100%;
  font-size: 2rem;

  @include respond(tab-land) {
    font-size: 1.8rem;
  }

  @include respond(phone) {
    font-size: 3.3rem;
    height: 15rem;
  }

  &__tag-line {
    margin: 0 auto;
  }
}