.header {
  @include head-and-foot;
}

.nav-option {
  border-radius: 1rem;
  font-size: 4.5rem;
  font-weight: normal;
  height: 10rem;
  line-height: 10rem;
  text-align: center;
  width: 20rem;

  &--email {
    font-size: 4.5rem;
  }

  &:hover {
    color: $blue;
  }

  @include respond(tab-land) {
    font-size: 4rem;
    width: 30rem; 
  }

  @include respond(phone) {
    font-size: 3.5rem;
    width: 22rem;
  }

  // &__home {
  //   margin-left: $margin-space-large;

  //   @include respond(tab-land) {
  //     margin-left: $margin-space-medium;
  //   }

  //   @include respond(tab-port) {
  //     margin-left: $margin-space-small;
  //   }
  // }

  // &__projects {
  //   margin-right: $margin-space-large;

  //   @include respond(tab-land) {
  //     margin-right: $margin-space-medium;
  //   }

  //   @include respond(tab-port) {
  //     margin-right: $margin-space-small;
  //   }
  // }

  &--current-page {
    background-color: $blue;

    &:hover {
      color: black;
    }
  }
}