.header {
  background-color: $red;
  height: 22rem;
  width: 100%;

  position: relative; // for the hamburger nav stuff
  top: 0;
  left: 0;

  @include respond(phone) {
    height: 0;
  }
}

.nav-option {
  border-radius: 1rem;
  font-size: 4.5rem;
  font-weight: normal;
  height: 10rem;
  line-height: 10rem;
  text-align: center;
  width: 20rem;

  &--email {
    font-size: 4.5rem;
  }

  &:hover {
    color: $blue;
  }

  @include respond(tab-land) {
    font-size: 4rem;
    width: 17rem; 
  }

  @include respond(phone) {
    display: none;
  }

  &--phone {
    list-style: none;
    margin: 0 auto 2rem;
    padding: 2rem;
    border-radius: 100px;
    width: 30rem;
  }

  &--current-page {
    background-color: $blue;

    &:hover {
      color: black;
    }
  }
}