.nav {
  background-color: $red;
  height: 22rem;
  width: 100%;

  margin-top: -0.5rem;
  z-index: -1;

  @include respond(phone) {
    height: 0;
  }
}

.navigation {
  &__checkbox {
    display: none;
  }

  &__background {
    @include respond(phone) {
      display: none; // so the standard nav bar isn't shown when the menu button hasn't been clicked/tapped
    }
  }

  &__button {
    display: none;

    @include respond(phone) {
        background-color: $red;
        display: inline-block;
        text-align: center;
        height: 7rem;
        width: 7rem;
        border-radius: 2rem;
        border: 2px solid black;
        cursor: pointer;
        position: fixed;
        top: 11rem;
        left: 5%;
    }
  }

  &__icon {
    position: relative;
    margin-top: 3.2rem;

    &,
    &::before,
    &::after { // makes 3 horizontal bars
      width: 3rem;
      height: 2px;
      background-color: black;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before {
      top: -.8rem;
    }

    &::after {
      top: .8rem;
    }
  }

  &__checkbox:checked ~ &__background {
    @include respond(phone) {
      display: inline-block;
      background-color: $red;
      position: fixed;
      padding-top: 10rem;
      top: 0;
      left: 0;
      min-width: 100%; // to override .container's max-width interference
      z-index: 10;
    }
  }

  &__item {
    border-radius: 1rem;
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 2rem;
    display: inline-block;
    
    font-weight: normal;
    height: 10rem;
    line-height: 10rem;
    text-align: center;
    width: 24rem;
    
    &:hover {
      color: $blue;
    }
  
    @include respond(tab-land) {
      font-size: 4rem;
      width: 17rem; 
    }
  
    @include respond(phone) {
      display: none;
    }
  
    &--phone {
      @include respond(phone) {
        display: list-item;
        list-style: none;
        margin: 0 auto 2rem;
        border-radius: 100px;
        width: 30rem;
      }
    }

    &--current-page {
      background-color: $blue;
  
      &:hover {
        color: black;
      }
    }
  }

  // rotating menu button bars effect
  &__checkbox:checked + &__button {
    left: 90%;
    z-index: 11;

    & .navigation__icon {
      background-color: transparent;

      &::before {
        top: 0;
        transform: rotate(135deg);
      }

      &::after {
        top: 0;
        transform: rotate(-135deg);
      }
    }
  }
}  
